.rocket-row {
  display: flex;
  margin: 20px;
}

.rocket-row img {
  width: 250px;
  height: 200px;
}

.rocket-detail {
  margin-left: 20px;
}

.rocket-detail h3 {
  font-size: 24px;
}

.description {
  display: flex;
  align-items: baseline;
}

.description span {
  font-size: 14px;
  background-color: rgb(23, 242, 227);
  border-radius: 5px;
  padding: 5px;
}

.description p {
  font-size: 14px;
  margin-left: 10px;
}

.reserveButton {
  background-color: rgb(23, 103, 242);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.cancelButton {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .rocket-row {
    flex-direction: column;
  }
}

.mission-name {
  max-width: 10vw;
}

.mission-description {
  font-size: 12px;
  max-width: 60vw;
}

.navbar:after {
  content: "";
  background: lightgray;
  position: absolute;
  left: 2.5%;
  bottom: 0;
  height: 1px;
  width: 95%;
}

.divider-vertical {
  align-self: center;
  height: 15px;
  border-left: 2px solid gray;
}

ul > li {
  margin-right: 10px;
}

.navbar-brand {
  margin-left: 10px;
}

.active {
  text-decoration: underline !important;
}

.nav-link {
  font-weight: 500;
  color: #007bff !important;
}
